/htdocs/media
/htdocs/static
/static/dist

# Mac
.DS_STORE

# Python
*.py[co]

# Testing
.coverage
.tox
htmlcov
reports

# NodeJS
/node_modules
npm-debug.log
npm-debug.log.*
static/css

# Database
*.dump
