%reset-box {
    margin: 0;
    padding: 0;
}

%meta {
    text-transform: uppercase;
    font-family: $base-font-headline;
    font-size: 0.875rem;
}

%flex-row {
    display: flex;
    flex-flow: row nowrap;
}

%flex-column {
    display: flex;
    flex-flow: column nowrap;
}
