{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block main_content %}
  {% if validlink %}
    <div class="form-holder">
      <form method="post">
        {% crispy form %}

        <div class="form-actions">
          <input type="submit" value="Change my password" class="btn"/>
        </div>
      </form>
    </div>
  {% else %}
    <div class="form-feedback">
      <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset <a href="{% url 'accounts:password-reset' %}">here</a></p>
    </div>
  {% endif %}
{% endblock main_content %}
