{% extends "base.html" %}

{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}

{% block main_content %}
  <div class="form-holder">
    <h2 class="form-title">Become a member</h2>
    {% crispy form %}
    <hr />
    <h2>Membership Policy</h2>
    <p>Members are the backbone of our community.</p>
    <p>
      As a member, you can provide the extra insights that bring our resources alive,
      and help our knowledge base grow by uploading your own resources about innovation
      and best practice in campaigning and organising.
    </p>
    <p>
      Anyone can become a member of The Campaigns Library. You just have to register,
      by filling out the form above. Once your registration is received, the Librarian
      will have a look and make sure your account is set up correctly. Then you’ll be up and running!
    </p>
    <p>Once you are a member, you’ll be able to log in and:</p>
    <ul>
      <li>Let the community know which resources have worked best for you;</li>
      <li>Leave feedback and tips for others, and join in discussions via comments;</li>
      <li>Connect with other members;</li>
      <li>Receive updates, news and tips from the Librarian; and</li>
      <li>Upload your own resources, helping our Workspace grow.</li>
    </ul>
    <p>
      The Campaigns Library is also a resource in and of itself - our own platform and information
      architecture system is fully open source. <strong>Your organisation can use the Library as its
      own resource management tool, and maintain either a public or private collection.</strong>
      Note that there are <a href="/terms/">Terms and Conditions of Use</a> applicable.
    </p>
    <p>
      If you already belong to an Organisation with a collection please indicate this when you register,
      and the Librarian will confirm your access to the relevant Organisations.
    </p>
    <p>
      If your organisation would like its own private collection, or to upload resources to the public Library,
      get in touch with the Librarian at <a href="mailto:librarian@the-open.org">librarian@the-open.org</a>
    </p>
  </div>
{% endblock main_content %}

{% block extra_scripts %}
  {% render_bundle 'forms' %}
{% endblock extra_scripts %}
