{% extends 'base.html' %}

{% load render_bundle from webpack_loader %}
{% load thumbnail %}


{% block extra_head %}
  {% if organisation.colour %}
    <style>
      body {
        --page-group: {{ organisation.colour }};
      }
    </style>
  {% endif %}
{% endblock extra_head %}

{% block main_content %}
  <div class="profile-summary">
    <div class="profile-summary__image">
      {% thumbnail user.photo '1200' as thumb %}
        <div class="profile-image__full" style="background: url({{ thumb.url }}) center center/cover no-repeat">
        </div>
      {% endthumbnail %}
      <div class="profile-image__details">
        <h3 class="profile-image__title">{{ user.get_full_name }}</h3>

        {% for organisation in user.approved_organisations.all %}
          <div class="profile-summary__group">
            {% thumbnail organisation.logo '250' as thumb %}
              <div class="group-logo" style="background: url({{ thumb.url }}) center center/contain no-repeat"></div>
            {% endthumbnail %}
            <span><a href="{% url 'directory:organisation-detail' organisation.slug %}">{{ organisation.title }}</a></span>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="profile-summary__details">
      <div class="profile-summary__identity">
        <h1 class="profile-summary__title">{{ user.get_full_name }}</h1>
        {% for organisation in user.approved_organisations.all %}
          <div class="profile-summary__group">
            {% thumbnail organisation.logo '250' as thumb %}
              <div class="group-logo" style="background: url({{ thumb.url }}) center center/contain no-repeat"></div>
            {% endthumbnail %}
            <span><a href="{% url 'directory:organisation-detail' organisation.slug %}">{{ organisation.title }}</a></span>
          </div>
        {% endfor %}
      </div>
      <div class="profile-details">
        <div class="icon-list">
          {% if user.phone %}
            <div class="icon-list__row">
              <svg class="icon">
                <use xlink:href="#phone"></use>
              </svg>
              <div class="contact-detail__value">
                {{ user.phone }}
              </div>
            </div>
          {% endif %}
          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#email"></use>
            </svg>
            <div class="contact-detail__value">
              <a href="#">{{ user.email }}</a>
            </div>
          </div>
          {% if user.address %}
            <div class="icon-list__row">
              <svg class="icon">
                <use xlink:href="#map"></use>
              </svg>
              <div class="contact-detail__value">
                {{ user.address|linebreaks }}
              </div>
            </div>
          {% endif %}
        </div>
        <div class="icon-list">

          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#create"></use>
            </svg>
            <div class="profile-detail__value">
              {{ resources_created }} resource{{ resources_created|pluralize }} added
            </div>
          </div>

          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#comment"></use>
            </svg>
            <div class="profile-detail__value">
              {% with total_comments=user.comment_set.count %}
                {{ total_comments }} comment{{ total_comments|pluralize }} posted
              {% endwith %}
            </div>
          </div>

          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#liked"></use>
            </svg>
            <div class="profile-detail__value">
              {{ resources_liked }} resource{{ resources_liked|pluralize }} liked
            </div>
          </div>

          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#tried"></use>
            </svg>
            <div class="profile-detail__value">
              {{ resources_liked }} resource{{ resources_liked|pluralize }} tried
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if user.get_latest_resource or user.get_most_liked_resource or user.get_most_tried_resource %}
    <div class="resources featured-resources">
      <div class="resources-grid">
        {% include "includes/resource.html" with resource=user.get_latest_resource resource_category="latest" %}
        {% include "includes/resource.html" with resource=user.get_most_liked_resource resource_category="Most Liked" %}
        {% include "includes/resource.html" with resource=user.get_most_tried_resource resource_category="Most Tried" %}
      </div>
    </div>
  {% endif %}

  <div id="react-app" data-user="{{ user.pk }}">
    {% csrf_token %}
  </div>
{% endblock main_content %}

{% block extra_scripts %}
  {% render_bundle 'main' 'js' %}
{% endblock extra_scripts %}

