<p>Phone: {{ object.phone }}</p>

<h4>Organisations</h4>
{% for organisation in user.approved_organisations.all %}
  <p>{{ organisation.title }}</p>
{% endfor %}


<p>email: {{ object.email }}</p>
<p>address: {{ object.address }}</p>
<p>resources created count: {{ resources_created }}</p>
<p>resources liked count: {{ resources_liked }}</p>
<p>resources tried count: {{ resources_tried }}</p>
<p>lates resource created: {{ object.get_latest_resource }}</p>
<p>most liked resource: {{ object.get_most_liked_resource }}</p>
<p>most tried resource: {{ object.get_most_tried_resource }}</p>

<h4>All the resurces<h4>
{% for resource in object.resources_created.approved %}
  {{ resource }}
{% endfor %}
