{% extends "base.html" %}

{% load thumbnail staticfiles %}


{% block body_class %}home-page{% endblock body_class %}

{% block main_content %}
  <div class="home-intro__wrapper">
    <div class="home-intro">
      <div class="home-intro__slide intro-slide inverted">
        <h1 class="slide-title site-title">
          The Campaigns Library
        </h1>
        <h3 class="slide-subtitle">Welcome to The Campaigns Library, where campaigners speed up innovation and impact by sharing and discussing best practice.</h3>
      </div>
    </div>
  </div>

  <div id="react-app">
    {% csrf_token %}
  </div>
{% endblock main_content %}

{% block extra_scripts %}
  <script src="{% static 'dist/js/home.js' %}"></script>
{% endblock extra_scripts %}
