// Font imports
@font-face {
    font-family: 'Brandon';
    src: url("../fonts/brandon.woff2") format('woff2'), url("../fonts/national-regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'National';
    src: url("../fonts/national-regular.woff2") format('woff2'), url("../fonts/national-regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'National';
    src: url("../fonts/national-regular-italic.woff2") format('woff2'), url("../fonts/national-regular-italic.woff") format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'National';
    src: url("../fonts/national-light-webfont.woff2") format('woff2'), url("../fonts/national-light.woff") format('woff');
    font-weight: 300;
    font-style: normal
}
@font-face {
    font-family: 'National';
    src: url("../fonts/national-light-italic.woff2") format('woff2'), url("../fonts/national-light-italic.woff") format('woff');
    font-weight: 300;
    font-style: italic;
}

// Base sizes
$base-font-size: 1rem !default;
$base-line-height: 1.2 !default;
$base-font: 'National';
$base-font-headline: 'Brandon';


// Colors
$color-text: #4A4A4A !default;
$color-background: #000000 !default;
$color-line: #E5E5E5 !default;

$color-accent: var(--page-group, #50E3C2) !default;

// Size
$width-gap: 1.5rem;
