@import '~normalize.css/normalize.css';

// Global rules
* {
    box-sizing: border-box;
}

:first-child {
    margin-top: 0;
}

:last-child {
    margin-bottom: 0;
}

// Variables / imports
@import 'variables';

// Utility classes
@import 'utility/mixins';
@import 'utility/includes';

// Site styles
@import 'accessibility';
@import 'resources';
@import 'profiles';
@import 'typography';
@import 'grid';
@import 'search';
@import 'icons';
@import 'tags';
@import 'navigation';
@import 'page';
@import 'lists';
