@import '~normalize.css/normalize.css';

// Global rules
* {
    box-sizing: border-box;
}

:first-child {
    margin-top: 0;
}

:last-child {
    margin-bottom: 0;
}

// Variables / imports
@import 'variables';
@import 'accessibility';

// Utility classes
@import 'utility/mixins';
@import 'utility/includes';
@import 'utility/classes';

//global styles
@import 'global/typography';
@import 'global/navigation';
@import 'global/page';


// Resources styles
@import 'resources/comments';
@import 'resources/resources';
@import 'resources/search';
@import 'resources/tags';

// Profile styles
@import 'profiles/profiles';
@import 'profiles/group';

// Component styles
@import 'components/icons';
@import 'components/lists';
@import 'components/accordion';
@import 'components/buttons';
@import 'components/forms';
