.intro {
    padding: 1.5rem 1rem 1rem 1.5rem;
    h1 {
        margin-bottom: 0;
    }
    h3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    grid-auto-flow: dense;

    @media all and (max-width: 1060px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media all and (max-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media all and (max-width: 400px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.resources-holder {
    display: flex;
    left: 0;
    right: 0;
    grid-column: span 4;

    .resource-description {
        width: 50%;
        padding: 1rem 1rem 1.5rem 1rem;
        display: flex;
        flex-flow: column nowrap;
        min-height: 100%;
        align-items: flex-start;

        h2 {
            padding: 1rem 0 0 0;
        }

        p {
            padding-right: 4rem;
            padding-bottom: 4rem;
            word-wrap: break-word;
        }
        .more-button-holder {
            display: flex;
            justify-content: flex-end;
            padding-right: 3rem;
            margin-top: auto;
            width: 100%;

            @media all and (max-width: 885px) {
                padding-right: 0;
                margin-top: 1rem;
            }
        }

        .more-button {
            text-decoration: none;
            color: black;

            @media all and (max-width: 885px) {
                background: black;
                color: white;
                padding: 0.8rem 1.5rem;
            }
        }
    }

    .featured-resources {
        width: 50%;
        background: #50e3c2;

        h5 {
            color: white;
            padding: 1rem;
        }
    }

    @media all and (max-width: 885px) {
        flex-flow: row wrap;

        .resource-description {
            width: 100%;
            padding: 0 1rem;

            p {
                padding-bottom: 0;
                padding-right: 0;
                word-wrap: break-word;
            }
        }
        .featured-resources {
            width: 100%;
            padding: 0;
        }
    }

    @media all and (max-width: 1060px) {
        grid-column: span 3;
    }

    @media all and (max-width: 700px) {
        grid-column: span 2;
    }

    @media all and (max-width: 400px) {
        grid-column: span 1;
    }
}

.category-grid__item {
    display: flex;
    position: relative;
    padding: 1rem;
    min-height: 7.5rem;
    flex-flow: column nowrap;

    .category-grid__item-detail {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        color: #ffffff;
        height: 100%;
        justify-content: space-between;
        flex: 1;

        a {
            color: inherit;
            text-decoration: none;
        }

        p {
            font-size: 0.875rem;
            text-align: right;
        }
    }

    &.active {
        background: #000000 !important;

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 0.675rem solid transparent;
            border-right: 0.675rem solid transparent;
            border-top: 0.675rem solid #000000;
        }
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(#000000, 0.625);
    }
}

.background {
    padding: 4rem 0 18rem 0;
    position: relative;

    .backgroundContent {
        padding-left: 25%;
    }

    .backButtonHolder {
        position: absolute;
        left: 0;
        display: flex;
        justify-content: flex-end;
        top: 0;
    }
    .backButton {
        text-decoration: none;
        color: black;
        padding: 18px 28px;
        display: inline-flex;
        align-items: center;

        &::before {
            content: '';
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            background: url(../icons/down.svg) center center/contain no-repeat;
            transform: rotate(90deg);
        }
        span {
            margin: 0 0 0 0.5em;
        }
    }

    .header {
        color: white;
        background: black;
        padding: 0.5rem;
    }

    .description {
        margin-top: 1.5rem;
        padding: 1rem 1rem;
        background: black;
        color: white;
    }
    .featuredButton {
        position: absolute;
        bottom: 0;
        background: black;
        padding: 1rem;
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    .resource-subtitle {
        word-wrap: break-word;
    }

    @media all and (max-width: 1060px) {
        padding: 3rem 0 12rem 0;

        .backgroundContent {
            display: flex;
            flex-flow: row wrap;
            padding-left: 0;
        }

        .backButtonHolder {
            position: static;
            width: auto;
            justify-content: flex-start;
            order: 200;
            width: 100%;
            margin-top: 1em;
        }

        .resource-subtitle {
            width: 100%;
        }

        .backButton {
            padding: 8px 20px;
        }
    }

    @media all and (max-width: 400px) {
        padding: 1rem 0 12rem 0;
    }
}

.featured-resources {
    padding: 0 2rem 2rem 2rem;
    background: #50e3c2;

    h3 {
        text-transform: uppercase;
        color: #ffffff;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-family: Brandon;
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    h5 {
        margin-bottom: 0;
    }

    .resources-grid {
        background: unset;
    }

    .resource {
        box-shadow: 2px 2px 8px 0px rgba(#000000, 0.125);
        &:last-child:after {
            content: none;
        }
    }
}

.featured-resources__holder {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1.5rem;
    padding: 0 1rem;

    .resource {
        width: 100%;

        &:last-child:after {
            content: none;
        }
    }

    @media all and (min-width: 541px) {
        flex-flow: row nowrap;
    }

    @media all and (min-width: 884px) {
        position: relative;
        flex-flow: row nowrap;
        left: -2rem;
        padding: 0;
        box-shadow: 2px 2px 8px 0px rgba(#000000, 0.125);

        .resource {
            flex: 1;
        }
    }
}
