.resources-grid {
    @extend %grid-template;

    background: $color-line;
    min-height: 10rem;

    &.no-resources {
        position: relative;

        &:after {
            content: 'There are no resources to show';
            display: inline-block;
            width: 100%;
            max-width: 540px;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            padding: $width-gap;
            margin: auto;
            font-size: 1.6875rem;
        }
    }

    @media all and (min-width: 541px) {
        min-height: 20rem;
    }
}

.resources-filter {
    @extend %flex-row;
    @extend %meta;

    grid-column: 1 / -1;
    padding: $width-gap/3 $width-gap;
    background: $color-background;
    color: #ffffff;
    align-items: center;
    font-weight: 600;

    p { margin-bottom: 0; }
}

.resource-filter__controls {
    @extend %flex-row;

    margin-left: auto;
}

.resource-filter__option {
    margin-left: 0.75rem;
    cursor: pointer;
    user-select: none;

    .icon {
        width: 1.75rem;
        height: 1.75rem;
    }

    &.active {
        color: $color-accent;
    }
}

.resource-filter__controls {
    @extend %flex-row;

    align-items: center;
}

.resource {
    @extend %flex-column;

    background: #ffffff;
    position: relative;
    color: inherit;
    text-decoration: none;

    &:after {
        content: '';
        display: block;
        width: 3px;
        position: absolute;
        top: 0; right: 0; bottom: 0;
        background: rgba($color-background, 0.1);
    }

    &.private {
        position: relative;

        &:before {
            content: '';
            display: inline-block;
            width: 2rem;
            height: 2rem;
            background: url(../icons/private.svg) center center/contain no-repeat;
            position: absolute;
            top: $width-gap/2;
            right: $width-gap/2;
        }

        &.with-image:before {
            filter: invert(100%);
        }
    }

    .resource-blurred,
    .resource-focused {
        @extend %flex-column;

        height: 100%;

        @media all and (min-width: 541px) {
            min-height: 50vw;
        }
        @media all and (min-width: 801px) {
            min-height: #{100vw/3};
        }
        @media all and (min-width: 1261px) {
            min-height: 25vw;
        }
        @media all and (min-width: 1521px) {
            min-height: 20vw;
        }
    }

    .resource-focused {
        display: none;
        background: $color-background;
        padding: $width-gap;
    }

    .resource-meta {
        margin-top: auto;

        .icon-list__row {
            align-items: flex-start;
        }

       .icon-list__content {
            @extend %meta;
            margin-top: 0.25rem;
        }
    }

    @media all and (min-width: 541px) {

        &:focus,
        &:hover {

            .resource-focused {
                display: flex;
                flex-flow: column nowrap;
                color: #ffffff;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
            }
        }

        &:after {
            content: '';
            display: block;
            width: 3px;
            position: absolute;
            top: 0; right: 0; bottom: 0;
            background: rgba($color-background, 0.1);
            pointer-events: none;
            user-select: none;
        }
    }

    @include resource-line('(max-width: 540px)', 2);
    @include resource-line('(min-width: 541px) and (max-width: 800px)', 3);
    @include resource-line('(min-width: 801px) and (max-width: 1260px)', 4);
    @include resource-line('(min-width: 1261px)', 5);
}

.resource-image,
.resource-summary,
.resource-footer {

    padding: $width-gap;
}

.resource-summary {
    font-size: 1.6875rem;
    padding-bottom: 0;

    .private & {
        padding-right: $width-gap*2.25;
    }

    .with-image & {
        font-size: 1.25rem;
        padding-right: $width-gap;
    }

}

.resource-image {
    @extend %meta;

    height: 8.5rem;
    background-image: url(../img/sample.jpg);
    background-color: rgba($color-background, 0.125);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}

.resource-category {
    @extend %meta;
    @extend %flex-row;

    justify-content: space-between;
}

.resource-footer {
    @extend %flex-row;
    @extend %meta;

    margin-top: auto;
    align-items: flex-end;
    font-weight: 600;
}

.resource-user__name {
    margin: 0;
    font-weight: 600;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.resource-user__group {
    @extend .group-logo;

    margin-bottom: $width-gap/6;
    font-size: 0;
}

.resource-actions {
    @extend %flex-row;

    margin-left: auto;
    user-select: none;

    .true { color: $color-accent; }

    .icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: $width-gap/6;
    }
}

.resource-liked,
.resource-tried {
    @extend %flex-column;

    align-items: center;
}

.resource-tried {
    margin-left: 1rem;
}


//// Resource detail page

.resource-holder {

    @media all and (min-width: 1261px) {
        position: relative;
        padding-left: 22.5rem;
    }
}

.resource-header {
    position: relative;
    padding: $width-gap*3 0;
}

.resource-detail__stats {
    padding: $width-gap;

    .icon-list__row {
        font-family: $base-font-headline;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1rem;
    }
}

footer.resource-detail__stats {
    border-top: 3px solid $color-line;
}

.resource-header__background {
    @include psuedo-overlay('after', $color-background, 0.25);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    z-index: -10;
    background-color: $color-accent;

}

.resource-title,
.resource-subtitle {
    color: #ffffff;
    padding: $width-gap/2 $width-gap $width-gap/2 $width-gap*2;
    overflow: hidden;
    position: relative;

    h1,
    h3 {
        background: $color-background;
        display: inline;
        padding: calc(#{$width-gap/2} + 1px) 0;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0; bottom: 0; left: 0;
        width: $width-gap*2;
        background: $color-background;
    }

    span {
        position: relative;
        left: -$width-gap;
    }
}

.resource-title {
    max-width: 1261px;
    margin-bottom: $width-gap;
}

.resource-subtitle {
    font-weight: 400;
    max-width: 730px;
}

.resource-content {
    background: #ffffff;

    a {
        color: inherit;
    }

    @media all and (min-width: 1261px) {
        min-height: 25rem;
    }
}

.resource-abstract {
    font-size: 1.125rem;
    margin-top: 0;
}

.private .resource-list-abstract {
    padding-right: 2rem;
}

.resource-content__body {
    font-size: 1.25rem;
    padding: $width-gap 0 $width-gap*2.5 0;
    line-height: 1.6;

    > * {
        max-width: 730px;
        padding: 0 $width-gap;
    }

    hr {
        max-width: none;
        padding: 0;
    }
}

.resource-sidebar {
    @extend %meta;

    font-family: $base-font-headline;
    font-weight: 600;
    text-transform: uppercase;
    background: #fff;
    display: none;

    .icon-list__row {
        font-size: 1rem;
        padding: $width-gap/2 $width-gap;

        + .icon-list__row {
            border-top: 3px solid rgba($color-line, 0.5);
            margin-top: 0;
        }
    }

    .name-row {
        padding-bottom: 0;
    }
    .name-row + .group-row {
        padding-top: 0;
        border-top: none;

        .icon-list__content {
            padding-top: 0;
        }
    }

    .icon-list__content {
        padding-top: 0.3rem;
    }

    @media all and (min-width: 1261px) {
        display: block;
        width: 22.5rem;
        position: absolute;
        top: 15rem; left: 0;
    }
}

.group-row {
    @media all and (max-width: 1260px) {
        margin-bottom: $width-gap/2;

        .icon-list__content {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
        }

        p + p {
            margin-top: 0.25rem;
        }
    }
}

.resource-holder .icon-list__content {
    padding-top: 0.3rem;
}

.resource-detail__actions {
    @extend %flex-row;
}


.resource-action__button {
    @extend %flex-row;

    width: 50%;
    background: $color-accent;
    padding: $width-gap/2 $width-gap;
    color: $color-background;
    text-decoration: none;
    align-items: center;

    span {
        @extend %flex-column;

        font-family: $base-font-headline;
        font-size: 1.25rem;
        line-height: 1;
        font-weight: 600;

        strong {
            @extend %meta;
        }
    }

    .js-resource-action {
        margin-left: auto;
        display: inline-block;
        color: #ffffff;
        text-align: right;
        text-decoration: none;

        &:hover {
            color: $color-background;
        }

        .icon {
            margin-right: 0;
            pointer-events: none;
        }
    }

    &.true .add { display: none; }

    &.false .remove { display: none; }

    .icon {
        width: 2rem;
        height: 2rem;
        margin-right: $width-gap/4;
    }

    + .resource-action__button {
        border-left: 3px solid rgba($color-background, 0.05);
    }
}

