.resources-grid {
    @extend %grid-template;

    background: $color-line;
}

.resources-filter {
    @extend %flex-row;
    @extend %meta;

    grid-column: 1 / -1;
    padding: $width-gap*0.75 $width-gap;
    background: $color-background;
    color: #ffffff;
    align-items: center;
    font-weight: 600;

    p { margin-bottom: 0; }
}

.resource-filter__controls {
    @extend %flex-row;

    margin-left: auto;
}

.resource-filter__option {
    margin-left: 0.75rem;

    .icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    &.active {
        color: $color-accent;
    }
}

.resource-filter__controls {
    @extend %flex-row;

    align-items: center;
}

.resource {
    @extend %flex-column;

    background: #ffffff;

    @media all and (min-width: 541px) {
        min-height: 20rem;
    }
}

.resource-image,
.resource-summary,
.resource-footer {

    padding: $width-gap;
}

.resource-summary {
    font-size: 1.6875rem;
    padding-bottom: 0;

    .with-image & {

        font-size: 1.25rem;
    }
}

.resource-image {
    @extend %meta;

    height: 8.5rem;
    background-image: url(../img/sample.jpg);
    background-color: rgba($color-background, 0.125);
    background-blend-mode: multiply;
    background-size: cover;
    color: #ffffff;
}

.resource-category {
    @extend %meta;
}

.resource-footer {
    @extend %flex-row;
    @extend %meta;

    margin-top: auto;
    align-items: flex-end;
    font-weight: 600;
}

.resource-user__name {
    margin: 0;
    font-weight: 600;
}

.resource-user__group {
    @extend .group-logo;

    margin-bottom: $width-gap/6;
    font-size: 0;
}

.resource-actions {
    @extend %flex-row;

    margin-left: auto;
    user-select: none;
    cursor: pointer;

    .true { color: $color-accent; }

    .icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: $width-gap/6;
    }
}

.resource-liked,
.resource-tried {
    @extend %flex-column;

    align-items: center;
}

.resource-tried {
    margin-left: 1rem;
}


//// Resource detail page

.resource-holder {

    @media all and (min-width: 1261px) {
        position: relative;
        padding-left: 22.5rem;
    }
}

.resource-header {
    position: relative;
    padding: $width-gap*3 0;
}

.resource-header__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    z-index: -10;
}

.resource-title,
.resource-subtitle {
    color: #ffffff;
    padding: $width-gap/2 $width-gap $width-gap/2 $width-gap*2;
    overflow: hidden;
    position: relative;

    h1,
    h3 {
        background: $color-background;
        display: inline;
        padding: calc(#{$width-gap/2} + 1px) 0;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0; bottom: 0; left: 0;
        width: $width-gap*2;
        background: $color-background;
    }

    span {
        position: relative;
        left: -$width-gap;
    }
}

.resource-title {
    max-width: 1261px;
    margin-bottom: $width-gap;
}

.resource-subtitle {
    font-weight: 400;
    max-width: 730px;
}

.resource-content__body {
    background: #ffffff;
    font-size: 1.25rem;
    padding: $width-gap 0 $width-gap*2.5 0;
    line-height: 1.6;

    > * {
        max-width: 730px;
        padding: 0 $width-gap;
    }

    hr {
        max-width: none;
        padding: 0;
    }
}

.resource-sidebar {
    @extend %meta;

    font-family: $base-font-headline;
    font-weight: 600;
    text-transform: uppercase;
    background: #fff;
    display: none;

    .icon-list__row {
        font-size: 1rem;
        padding: $width-gap/2 $width-gap;

        + .icon-list__row {
            border-top: 3px solid rgba($color-line, 0.5);
            margin-top: 0;
        }
    }

    .icon-list__content {
        padding-top: 0.3rem;
    }

    @media all and (min-width: 1261px) {
        display: block;
        width: 22.5rem;
        position: absolute;
        top: 15rem; left: 0;
    }
}

.resource-detail__actions {
    @extend %flex-row;
}


.resource-action__button {
    @extend %flex-row;

    width: 50%;
    background: $color-accent;
    padding: $width-gap/2 $width-gap;
    color: $color-background;
    text-decoration: none;
    align-items: center;

    span {
        @extend %flex-column;

        font-family: $base-font-headline;
        font-size: 1.25rem;
        line-height: 1;
        font-weight: 600;

        strong {
            @extend %meta;
        }
    }

    .icon {
        width: 2rem;
        height: 2rem;
        margin-right: $width-gap/4;
    }

    + .resource-action__button {
        border-left: 3px solid rgba($color-background, 0.05);
    }
}

