.search-bar {
    background: $color-accent;
}

.search-bar form.search-form {
    @extend %flex-row;

    input {
        width: 100%;
        background: none;
        outline: none;
        line-height: inherit;
        color: $color-background;
        border: none !important;
        font-size: 1.675rem !important;

        .home-page & {
            padding: $width-gap*1.6875 $width-gap !important;
        }

        &::placeholder {
            color: inherit;
        }
    }

    button {
        @extend %flex-row;

        background: $color-background;
        border: none;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-size: 1.6875em;

        &:hover { background: lighten($color-background, 10%); }

        .icon {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    @media all and (max-width: 540px) {

        input,
        button {
            padding: $width-gap/2 !important;
            font-size: 1.25rem !important;
        }
    }
}

.search-filter__tags,
.search-filter__groups,
.search-filter__people {
    padding: $width-gap 1rem;
    background: $color-accent;

    .tag { cursor: pointer; }

    .search-filter__type .icon { display: none; }

    &.shown-false {
        display: none;
        visibility: hidden;
    }

    @media all and (max-width: 540px) {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        padding: $width-gap/4;

        .tag-list { padding-top: $width-gap/4; }

        .search-filter__type {
            color: $color-background;

            span { display: none; }

            .icon {
                display: inline-block;
                margin-right: $width-gap/2;
            }
        }
    }
}

.search-filter__type {
    color: #ffffff;
    margin-bottom: $width-gap/4;
    padding-left: 0.5rem;
    font-weight: 600;

    .icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    @media all and (max-width: 540px) {
        padding-left: 0;
    }
}

.search-filter__tags {
    grid-column: auto / span 2;
}

@media all and (max-width: 1260px) {
    .search-filter__tags {
        grid-column: 1 / -1;
    }

    .search-filter__groups,
    .search-filter__people {
        grid-column: auto / span 1;
    }
}

.search-filter__people {
    grid-column: auto / span auto;

    @media all and (min-width: 801px) and (max-width: 1260px) {
        grid-column: auto / span 2;
    }

    @media all and (min-width: 1521px) {
        grid-column: auto / span 2;
    }
}

.search-filter {
    @extend %grid-template;

    padding-top: 3px;
    font-family: $base-font-headline;
    font-size: 1.25rem;
    text-transform: uppercase;
    background: rgba($color-background, 0.05);
    min-width: 0;

    &.show-false {
        display: none;
    }

    @media all and (max-width: 540px) {
        grid-gap: 0;
        background: none;
        padding: $width-gap/4 0;
        border-top: 3px solid rgba($color-background, 0.05);
    }
}

.search-prompt {
    font-size: 1.25rem;
    text-align: center;
    padding: $width-gap/4 $width-gap/2;
    background: rgba($color-background, 0.05);
}
