.tag-list {
    display: flex;
    flex-flow: row wrap;
    min-width: 0;
}

.tag {
    display: inline-flex;
    align-items: center;
    padding: $width-gap/2;
    background: $color-background;
    font-family: $base-font-headline;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    margin: 0 0.25rem 0.25rem 0;
    user-select: none;
    cursor: pointer;
    text-decoration: none;

    &.active {
        background: #ffffff;
        color: $color-text;
    }

    .icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 0.5rem;
        color: $color-accent;
    }
}
