{% load thumbnail %}

<div class="comment">
  <header class="comment-header">
    <div class="comment-profile">
      {% thumbnail comment.created_by.photo "x50" as thumb %}
        <div class="group-logo" style="background: url({{ thumb.url }}) center center/contain no-repeat"></div>
      {% endthumbnail %}
      <span>{{ comment.created_by.get_full_name }}</span>
    </div>
    <div class="comment-actions">

      {% if request.user == comment.created_by %}
        <a href="{% url 'resources:resource-update-comment' resource.slug comment.id %}">
          Edit
        </a>
      {% endif %}

      {% if request.user != comment.created_by %}
        <a href="{% url 'resources:resource-report-comment' resource.slug comment.id %}">
          Report
        </a>
      {% endif %}

    </div>
  </header>
  <div class="comment-content">
    {{ comment.body|linebreaksbr }}
  </div>
</div>
