<div class="comments">
  <div class="comments-title">
    <svg class="icon">
      <use xlink:href="#comment"></use>
    </svg>
    <h4>Comments</h4>
  </div>
  <div class="comment">
    <header class="comment-header">
      <div class="comment-profile">
        <div class="group-logo" style="background: url(http://static.oxfamamerica.org.s3.amazonaws.com/images/logos/oxfam_logo_vertical_green_rgb.png) center center/contain no-repeat"></div>
        <span>Richard Peters</span>
      </div>
      <div class="comment-actions">
        <a href="#">Edit</a>
      </div>
    </header>
    <div class="comment-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis commodi nemo libero placeat iste architecto itaque inventore, culpa qui excepturi vel laudantium possimus quam sapiente.
    </div>
  </div>
</div>
