{% load thumbnail %}


{% if organisation %}
  <div class="resource {% if organisation.logo %}with-image {% endif %}">
    <div class="resource-summary">
      <p class="resource-category">Most published this week</p>
      {% if organisation.logo %}
        {% thumbnail organisation.logo '1000' as thumb %}
          <header class='resource-image' style="background-image: url({{ thumb.url }})">
          </header>
        {% endthumbnail %}
      {% else %}
        <a href="{% url 'directory:organisation-detail' organisation.slug %}">{{ organisation.title }}</a>
      {% endif %}
    </div>
  </div>
{% endif %}
