{% load thumbnail %}


{% if organisation %}
  <a href="{% url 'directory:organisation-detail' organisation.slug %}" class="resource {% if organisation.logo %}with-image {% endif %}">
    <div class="resource-summary">
      <p class="resource-category">Most published this week</p>
      {% if organisation.logo %}
        {% thumbnail organisation.logo '1000' as thumb %}
          <header class='org-logo__large' style="background: url({{ thumb.url }}) center center/contain no-repeat">
          </header>
        {% endthumbnail %}
      {% else %}
      <div class="resource-list-title">{{ organisation.title }}</div>
      {% endif %}
    </div>
  </a>
{% endif %}
