{% load thumbnail %}

<footer class="page-footer">
  <div class="footer-details">
    <h4>Commons library</h4>
    <nav class="page-navigation">
      <ul class="footer-navigation">
        <li><a href="#">Legal</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Cookies</a></li>
      </ul>
    </nav>
    <p>
      <small>&copy; 2018 All rights reserved.</small>
    </p>
  </div>
  <div class="footer-logos">
    <div class="footer-logo__grid">
      <div class="commons-library-logo"></div>
    </div>
    <h4>Brought to you by</h4>
    <div class="footer-logo__grid">
      {% for org in footer_orgs_founders %}
        {% thumbnail org.logo '500' as thumb %}
          <img class="footer-logo" src="{{ thumb.url }}" />
        {% endthumbnail %}
      {% endfor %}
    </div>
    <h4>Partners</h4>
    <div class="footer-logo__grid">
      {% for org in footer_orgs_partners %}
        {% thumbnail org.logo '500' as thumb %}
          <img class="footer-logo" src="{{ thumb.url }}" />
        {% endthumbnail %}
      {% endfor %}
    </div>
  </div>
</footer>
