{% load thumbnail %}


<header class="page-head shown">
  <nav class="page-navigation">
    <a href="/" class="page-navigation__home">
      The Campaigns Library
    </a>
    <div class="main-navigation__holder">
      {% if action_buttons %}
        {% include "includes/resource_actions.html" with extra_class="hide-desktop" %}
      {% endif %}
      <ul class="main-navigation">
        <li class="main-navigation__item explore-link {% if resources_categories %}with-dropdown{% endif %} {% if request.path == '/explore/' %} active{% endif %}">
          <a href="{% url 'resources:resource-category-list' %}">
            <svg class="icon">
              <use xlink:href="#explore"></use>
            </svg>
            <span class="item-text">Explore</span>
          </a>
          {% if resources_categories %} 
            <ul class="dropdown-navigation">
                <li class="dropdown-navigation__item">
                    <a href= "/resources/categories/">All Categories</a>
                </li>
                {% for category in resources_categories %}
                <li class="dropdown-navigation__item">
                  <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
        <li class="main-navigation__item {% if request.path == '/search/' %} active{% endif %}">
          <a href="{% url 'search' %}">
            <svg class="icon">
              <use xlink:href="#search"></use>
            </svg>
            <span class="item-text">Search</span>
          </a>
        </li>
        {% if request.user.is_authenticated %}
          <li class="main-navigation__item {% if request.path == '/directory/' %} active{% endif %}">
            <a href="{% url 'directory:organisation-list' %}">
              <svg class="icon">
                <use xlink:href="#directory"></use>
              </svg>
              <span class="item-text">Directory</span>
            </a>
          </li>
          <li class="main-navigation__item inverse {% if request.path == '/resources/add/' %} active{% endif %}">
            <a href="{% url 'resources:resource-create' %}">
              <svg class="icon">
                <use xlink:href="#create"></use>
              </svg>
              <span class="item-text">Submit resource</span>
            </a>
          </li>

          <li class="main-navigation__profile shown-false" id="profile_dropdown">
            {% thumbnail request.user.photo '500' as thumb %}
              <div class="profile-button" id="profile_dropdown_toggle" style="background: url({{ thumb.url }}) center center/cover no-repeat">
                <span class="drop-down__icon"></span>
              </div>
            {% empty %}
              <div class="profile-button" id="profile_dropdown_toggle">
                <svg class="icon">
                  <use xlink:href="#profile"></use>
                </svg>
                <span class="drop-down__icon"></span>
              </div>
            {% endthumbnail %}
            <div class="main-navigation__dropdown">
              <a href="{% url 'accounts:user-detail' %}">View profile</a>
              <a href="{% url 'accounts:user-update' %}">Update details</a>
              <a href="{% url 'accounts:password-change' %}">Change password</a>
              <a href="{% url 'accounts:logout' %}" class="logout">Logout</a>
            </div>
          </li>
        {% else %}
          <li class="main-navigation__item {% if request.path == '/accounts/login/' %} active{% endif %}">
            <a href="{% url 'accounts:login' %}">
              <svg class="icon">
                <use xlink:href="#private"></use>
              </svg>
              <span class="item-text">Login</span>
            </a>
          </li>
          <li class="main-navigation__account">
            <a href="{% url 'accounts:registration' %}">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
