.mj_accordion {
    margin: $width-gap*2 0;
    border-top: 3px solid $color-line;
    max-width: none;
    padding: 0;
    list-style: none;
}

.mj_accordion > li {
    border-bottom: 3px solid $color-line;
}

.mj_accordion_item {
    @extend %flex-row;

    justify-content: space-between;
    padding: $width-gap;
    align-items: baseline;
    user-select: none;
    cursor: pointer;
    font-size: 1.6875rem;


    .icon {
        margin-left: $width-gap;
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
    }

    .close { display: none; }

    h3 { margin: 0; }
}

.mj_accordion_content {
    display: none;
    padding: 0 $width-gap $width-gap $width-gap;
    max-width: 730px;
}

.mj_accordion .active {

    .mj_accordion_content {
        display: block;
    }
}
