.main-content form {
    width: 100%;

    input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=file]),
    textarea,
    select {
        width: 100%;
        padding: $width-gap;
        border: 3px solid $color-line;
        border-radius: 0;
        font-family: inherit;
        font-size: 1.25em;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:focus {
            border-color: $color-text;
        }
    }

    .error {
        input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=file]),
        textarea,
        select {
            border-color: $color-error;
        }
    }

    label {
        @extend %flex-row;

        width: 100%;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: $width-gap/2;
        font-size: 1.25em;
        font-family: $base-font-headline;
        font-weight: 600;
        text-transform: uppercase;
    }

    input[type=button],
    button {
        @extend .button;
    }

    .checkbox {
        justify-content: flex-start;
        align-items: flex-start;
        cursor: pointer;
        user-select: none;
        font-family: $base-font;
        text-transform: none;
        font-size: 1.5rem;
        margin-bottom: 0;
    }
}

.form-holder,
.form-feedback {
    width: 100%;
    max-width: 730px;
    margin: $width-gap*2.5 auto;
    padding: 0 $width-gap;

    a { color: inherit; }
}

.comments-form {
    margin: 0 0 $width-gap 0;
    border-top: 3px solid $color-line;
    padding-top: $width-gap;

    .comment-profile {
        margin-bottom: $width-gap;
    }
}

.form-feedback {
    font-size: 1.25rem;
}

.form-title {
    padding-bottom: $width-gap;
    border-bottom: 3px solid $color-line;
    margin-bottom: $width-gap;
    font-weight: 400;
}

.required-label {
    margin-left: $width-gap;
    font-size: 0.675em;
    color: $color-accent;
}

.control-group {

    + .control-group {
        margin-top: $width-gap;
    }
}

.tag-group {
    padding: $width-gap 0;
}

.file-group {
    margin: $width-gap 0;
    padding: $width-gap 0;
    border-top: 3px solid $color-line;
    border-bottom: 3px solid $color-line;
}

.file-uploader {
    @extend %flex-row;

    align-items: center;

    label.button {
        width: auto;
        margin: 0 $width-gap 0 0;
        flex-shrink: 0;
    }
}

.file-name {
    font-size: 1.25rem;
}

.file-size {
    color: rgba($color-text, 0.6);
}

.form-actions {
    @extend %flex-row;

    margin-top: $width-gap/2;
    justify-content: flex-end;
    align-items: center;

    a {
        margin-right: auto;
        font-size: 1.25rem;
    }
}

.form-holder__footer {
    padding: $width-gap 0;
    font-size: 1.25rem;
    border-top: 3px solid $color-line;
    margin-top: $width-gap;
}

.help-block {
    margin-top: $width-gap/2;
    font-size: 1.125rem;
    color: rgba($color-text, 0.6);

    .multiselect + & {
        margin-top: $width-gap/4;
    }
}

.error-block {
    color: $color-error;
}

.checkbox-field {
    @extend %flex-row;

    input {
        @extend .sr__text;
    }

    .icon {
        display: none;
        width: 1.5rem;
        height: 1.5rem;
        transform: scale(1.25);
    }

    input:checked + .checkbox .icon {
        display: inline-block;
    }
}

.checkbox-status {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.25rem 0.5rem 0 0;
    border: 3px solid $color-line;
}

.multiselect {
    display: flex;
    flex-flow: row wrap;
}

.multiselect-option {
    width: 100%;
    margin-bottom: $width-gap/4;

    @media all and (min-width: 481px) {
        width: 50%;
    }
}

.alert-error {

    ul {
        @extend %reset-box;

        list-style: none;
        margin-bottom: $width-gap;
        color: $color-error;
        font-size: 1.25rem;
        border-left: 3px solid $color-error;
        padding-left: $width-gap;
    }
}

// editor

.django-ckeditor-widget {
    width: 100%;
}

#cke_id_content {
    width: 100% !important;
}

// Taggle

.tag-select {
    position: relative;
}
.taggle_placeholder {
    position: absolute;
    left: $width-gap;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: rgba($color-text, 0.6);
    font-size: 1.25rem;
}

.taggle_list {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    flex-flow: row wrap;
    min-width: 0;
    overflow: hidden;
    list-style: none;
    margin: 0; padding: 0;
    align-items: flex-start;
}

.taggle_sizer {
    pointer-events: none;
    opacity: 0;
    position: absolute;
}

.main-content .taggle_list {
    padding: $width-gap*0.75 $width-gap $width-gap*0.5 $width-gap;
    border: 3px solid $color-line;

    input {
        display: inline-block;
        float: left;
        line-height: 1;
        width: 10px;
        padding: 0 !important;
        border: none !important;

        &:focus { width: auto !important; }
    }

    li {
        margin-bottom: $width-gap/4;
    }

    li,
    .taggle {
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-right: $width-gap/4;
        vertical-align: top;
        overflow: hidden;
        color: #fff;
        padding: $width-gap/4;
    }

    .taggle {
        background: $color-text;
        text-transform: uppercase;
        font-family: $base-font-headline;
        font-weight: 600;

        span { font-size: 1.25rem; }

        &.custom {
            background: $color-line;
            color: inherit;

            button { color: inherit; }
        }

        button {
            padding: 0;
            background: none;
            margin-left: 0.5rem;
            color: inherit;

            &:hover { color: $color-error; }
        }

        &.taggle_hot {
            background: $color-line;
            color: $color-text;

            button { color: $color-error; }
        }
    }
}

.ui-autocomplete {
    @extend %reset-box;

    list-style: none;
    background: $color-text;
    color: #ffffff;
    position: absolute;
    top: 100%;
    left: 0 !important;
    width: 100% !important;
    top: 100% !important;
    font-family: inherit;
    font-size: 1rem;
    max-height: 12.875rem;
    overflow: auto;
    z-index: 200;
    font-size: 1.25rem;

    li {
        padding: $width-gap/2 calc(#{$width-gap*1.25} + 3px);
        cursor: pointer;
        line-height: 30px;

        &:hover,
        &:focus {
            background: $color-accent;
            color: $color-text;
        }

        + li { border-top: 3px solid rgba(#ffffff, 0.25); }
    }
}

