{% extends 'base.html' %}

{% load thumbnail staticfiles %}


{% block main_content %}
  {% thumbnail resourcecategory.image '500' as category_image %}
    <div class="background" style="background: url({{ category_image.url }}) center center/cover no-repeat">
      <div class="backgroundContent">
        <div class="backButtonHolder">
          <a href="{% url 'explore' %}" class="backButton button">
            <span>All Categories</span>
          </a>
        </div>
        <div class="resource-title">
          <h1>
            <span>{{ resourcecategory.title }}</span>
          </h1>
        </div>
        <div class="resource-subtitle">
          <h3>
            <span>{{ resourcecategory.description }}</span>
          </h3>
        </div>
      </div>
    </div>
  {% endthumbnail %}

  {% if featured_resources.exists %}
    <div class="featured-resources detail-page__featured-resources">
      <h3> Featured Resources</h3>
      <div class="resources-grid">
        {% for resource in featured_resources %}
          {% include 'includes/resource.html' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div id="react-app" data-hidesearch="true" data-category="{{ resourcecategory.pk }}">
    {% csrf_token %}
  </div>

{% endblock %}


{% block extra_scripts %}
  <script src="{% static 'dist/js/main.js' %}"></script>
{% endblock extra_scripts %}
