{% extends "base.html" %}

{% load thumbnail staticfiles %}


{% block main_content %}
  <div class="explore">
    <div class="categories-grid">
      <div class="explore-tags">
        <div class ="intro">
          <h1>Categories</h1>
          <h3>A sub line which adds clarity to what that area is</h3>
        </div>
        <div class="category-grid">
          {% for category in resourcecategory_list %}
            {% thumbnail category.image '500' as category_image %}
              <div class="category-grid__item" style="background: url({{ category_image.url }}) center center/cover no-repeat">
                <div class="category-grid__item-detail">
                  <a href="#" class="category_toggle" data-target="{{ category.pk }}">
                    <h3>{{ category.title }}</h3>
                    <p>{{ category.get_resource_count }} resource{{ category.get_resource_count|pluralize }}</p>
                  </a>
                </div>
              </div>
            {% endthumbnail %}
            <div class="resources-holder hidden" data-category="{{ category.pk }}">
              <div class="resource-description">
                <div class="close-button-holder">
                  <svg class="icon close-resource">
                    <use xlink:href="#remove"></use>
                  </svg>
                </div> 
                <h1>{{ category.title }}</h1>
                <p>{{ category.description }}</p>
                <div class="more-button-holder">
                  <a href="{{ category.get_absolute_url }}" class="more-button button">See all resources</a>
                </div>
              </div>
              <div class="featured-resources">
                <h5> Featured resources </h5>
                <div class="featured-resources__holder">
                  {% for resource_relation in category.category_featured_resources.all|slice:':2' %}
                    {% include 'includes/resource.html' with resource=resource_relation.resource %}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock main_content %}

{% block extra_scripts %}
  <script src="{% static 'dist/js/categories.js' %}"></script>
{% endblock extra_scripts %}
