{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}
{% load thumbnail %}


{% block header_content %}
  <div class="resource-detail__actions hide-desktop">
    <a href="#" class="resource-action__button">
      <svg class="icon">
        <use xlink:href="#liked"></use>
      </svg>
      <span>
        {{ resource.likes.count }}
        <strong>Liked</strong>
      </span>
    </a>
    <a href="#" class="resource-action__button">
      <svg class="icon">
        <use xlink:href="#tried"></use>
      </svg>
      <span>
        {{ resource.tried.count }}
        <strong>Tried</strong>
      </span>
    </a>
  </div>
  {{ block.super }}
{% endblock header_content %}

{% block main_content %}
  <main class="resource-holder">
    <aside class="resource-sidebar" id="resource_sidebar">
      <div class="resource-detail__actions">
        <a href="#" class="resource-action__button">
          <svg class="icon">
            <use xlink:href="#liked"></use>
          </svg>
          <span>
            {{ resource.likes.count }}
            <strong>Liked</strong>
          </span>
        </a>
        <a href="#" class="resource-action__button">
          <svg class="icon">
            <use xlink:href="#tried"></use>
          </svg>
          <span>
            {{ resource.tried.count }}
            <strong>Tried</strong>
          </span>
        </a>
      </div>
      <div class="resource-meta">
        <div class="icon-list">
          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#directory"></use>
            </svg>
            <div class="icon-list__content">
              {% thumbnail resource.created_by.photo '500' as thumb %}
                <div class="profile-image small" style="background: url({{ thumb.url }}) center center/cover no-repeat"></div>
              {% endthumbnail %}
              <p class="profile-name"><a href="{% url 'directory:organisation-user' resource.created_by.pk %}">{{ resource.created_by.get_full_name }}</a></p>
              <p class="profile-group"><a href="{% url 'directory:organisation-detail'  resource.organisation.slug %}">{{ resource.organisation }}</a></p>
            </div>
          </div>
          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#date"></use>
            </svg>
            <div class="icon-list__content">
              <p>{{ resource.created_at|date:'j F Y H:i' }}</p>
            </div>
          </div>
          {% if resource.tags %}
            <div class="icon-list__row">
              <svg class="icon">
                <use xlink:href="#tag"></use>
              </svg>
              <div class="icon-list__content">
                <div class="tag-list">
                  {% for tag in resource.tags.all %}
                    <span class="tag">{{ tag }}</span>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
          <div class="icon-list__row" id="comment_stats">
            <svg class="icon">
              <use xlink:href="#comment"></use>
            </svg>
            <div class="icon-list__content">
              {% with total_comments=resource.comment_set.count %}
              {{ total_comments }} comment{{ total_comments|pluralize }}
              {% endwith %}
              {{ people_commented }} People
            </div>
          </div>
        </div>
      </div>
    </aside>

    <article class="resource-detail">
      <header class="resource-header">
        {% thumbnail resource.image '1200' as thumb %}
          <div class="resource-header__background" style="background: url({{ thumb.url }}) center center/cover no-repeat"></div>
        {% empty %}
          <div class="resource-header__background"></div>
        {% endthumbnail %}
        <div class="resource-title">
          <h1>
            <span>{{ resource.title }}</span>
          </h1>
        </div>
        <div class="resource-subtitle">
          <h3>
            <span>{{ resource.abstract }}</span>
          </h3>
        </div>
      </header>
      <div class="resource-content">
        <div class="resource-detail__stats hide-large-desktop">
          <div class="icon-list">
            <div class="icon-list__row">
              <div class="icon-list__content">
                <a href="{% url 'directory:organisation-user' resource.created_by.id %}" class="tag small">{{ resource.created_by.get_full_name }}</a><br/>
                <a href="{% url 'directory:organisation-detail' resource.organisation.slug %}" class="tag small">{{ resource.organisation }}</a>
              </div>
            </div>
            <div class="icon-list__row">
              <svg class="icon">
                <use xlink:href="#date"></use>
              </svg>
              <div class="icon-list__content">
                <p>{{ resource.created_at|date:'j F Y H:i' }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="resource-content__body">
          {{ resource.content|safe }}
        </div>
        {% if resource.tags %}
          <footer class="resource-detail__stats hide-large-desktop">
            <div class="icon-list__row">
              <svg class="icon">
                <use xlink:href="#tag"></use>
              </svg>
              <div class="icon-list__content">
                <div class="tag-list">
                  {% for tag in resource.tags.all %}
                    <span class="tag">{{ tag }}</span>
                  {% endfor %}
                </div>
              </div>
            </div>
          </footer>
        {% endif %}

      </div>

      <div class="comments">
        <div class="comments-title">
          <svg class="icon">
            <use xlink:href="#comment"></use>
          </svg>
          <h4>Comments</h4>
        </div>
        {% for comment in resource.comment_set.all %}
          {% include "includes/comments.html" with comment=comment %}
        {% endfor %}
      </div>

      {% if user.is_authenticated %}
        <div class="form-holder">
          {% crispy form %}
        </div>
      {% endif %}

  </main>


{% endblock main_content %}

{% block extra_scripts %}
  {% render_bundle 'resource' %}
{% endblock extra_scripts %}

