{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}
{% load thumbnail %}


{% block header_content %}
  {{ block.super }}
  {% include "includes/resource_actions.html" with extra_class="hide-large-desktop" %}
  {% include "includes/messages.html" %}
{% endblock header_content %}

{% block main_content %}
  {% csrf_token %}
  <main class="resource-holder" data-resource="{{ resource.id }}">
    <aside class="resource-sidebar" id="resource_sidebar">
      {% include "includes/resource_actions.html" %}
      <div class="resource-meta">
        <div class="icon-list">
          {% if resource.privacy.all %}
            <div class="icon-list__row">
              <svg class="icon">
                <use xlink:href="#private"></use>
              </svg>
              <div class="icon-list__content">
                <p>Private resource for
                {% for org in resource.privacy.all %}
                  {{ org.title }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </p>
              </div>
            </div>
          {% endif %}
          <div class="icon-list__row name-row">
            <svg class="icon">
              <use xlink:href="#directory"></use>
            </svg>
            <div class="icon-list__content">
              {% thumbnail resource.created_by.photo '500' as thumb %}
                <div class="profile-image small" style="background: url({{ thumb.url }}) center center/cover no-repeat"></div>
              {% endthumbnail %}
              <p class="profile-name"><a href="{% url 'directory:organisation-user' resource.created_by.pk %}">{{ resource.created_by.get_full_name }}</a></p>
            </div>
          </div>
          <div class="icon-list__row group-row">
            {% thumbnail resource.organisation.logo '250' as thumb %}
              <div class="icon profile-image small" style="background: url({{ thumb.url }}) center center/contain no-repeat"></div>
            {% endthumbnail %}
            <div class="icon-list__content">
              <p class="profile-group"><a href="{% url 'directory:organisation-detail'  resource.organisation.slug %}">{{ resource.organisation }}</a></p>
            </div>
          </div>
          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#date"></use>
            </svg>
            <div class="icon-list__content">
              <p>{{ resource.created_at|date:'j F Y H:i' }}</p>
            </div>
          </div>
          {% if resource.tags.all %}
            <div class="icon-list__row">
              <svg class="icon">
                <use xlink:href="#tag"></use>
              </svg>
              <div class="icon-list__content">
                <div class="tag-list">
                  {% for tag in resource.tags.all %}
                    <a href="{% url 'search' %}?tags={{ tag.id }}" class="tag">{{ tag }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
          <div class="icon-list__row" id="comment_stats">
            <svg class="icon">
              <use xlink:href="#comment"></use>
            </svg>
            <div class="icon-list__content">
              {% with total_comments=resource.comment_set.count %}
              {{ total_comments }} comment{{ total_comments|pluralize }}
              {% endwith %}
              {{ people_commented }} People
            </div>
          </div>
        </div>
      </div>
    </aside>

    <article class="resource-detail">
      <header class="resource-header">
        {% thumbnail resource.image '1200' as thumb %}
          <div class="resource-header__background" style="background: url({{ thumb.url }}) center center/cover no-repeat"></div>
        {% empty %}
          <div class="resource-header__background"></div>
        {% endthumbnail %}
        <div class="resource-title">
          <h1>
            <span>{{ resource.title }}</span>
          </h1>
        </div>
        <div class="resource-subtitle">
          <h3>
            <span>{{ resource.abstract }}</span>
          </h3>
        </div>
      </header>
      <div class="resource-content">
        <div class="resource-detail__stats hide-large-desktop">
          <div class="icon-list">
            {% if resource.privacy.all %}
              <div class="icon-list__row">
                <svg class="icon">
                  <use xlink:href="#private"></use>
                </svg>
                <div class="icon-list__content">
                  <p>Private resource for
                  {% for org in resource.privacy.all %}
                    {{ org.title }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                  </p>
                </div>
              </div>
            {% endif %}
            <div class="icon-list__row group-row">
              {% thumbnail resource.organisation.logo '250' as thumb %}
                <div class="icon profile-image small" style="background: url({{ thumb.url }}) center center/contain no-repeat"></div>
              {% endthumbnail %}
              <div class="icon-list__content">
                <p class="profile-name"><a href="{% url 'directory:organisation-user' resource.created_by.pk %}">{{ resource.created_by.get_full_name }}</a></p>
                <p class="profile-group"><a href="{% url 'directory:organisation-detail'  resource.organisation.slug %}">{{ resource.organisation }}</a></p>
              </div>
            </div>
            <div class="icon-list__row">
              <svg class="icon">
                <use xlink:href="#date"></use>
              </svg>
              <div class="icon-list__content">
                <p>{{ resource.created_at|date:'j F Y H:i' }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="resource-content__body">
          {{ resource.content|safe }}
        </div>
        {% if resource.tags.all %}
          <footer class="resource-detail__stats hide-large-desktop">
            <div class="icon-list__row">
              <svg class="icon">
                <use xlink:href="#tag"></use>
              </svg>
              <div class="icon-list__content">
                <div class="tag-list">
                  {% for tag in resource.tags.all %}
                    <a href="{% url 'search' %}?tags={{ tag.id }}" class="tag">{{ tag }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </footer>
        {% endif %}

      </div>

      <div class="comments">
        <div class="comments-title">
          <svg class="icon">
            <use xlink:href="#comment"></use>
          </svg>
          <h4>Comments</h4>
        </div>
        {% for comment in resource.comment_set.all %}
          {% include "includes/comments.html" with comment=comment %}
        {% empty %}
          <div class="comment">
            <div class="comment-content">
                <p class="no-comments">There are currently no comments.</p>
              </div>
            </div>
        {% endfor %}

        {% if user.is_authenticated %}
          <div class="comments-form form-holder">
            <div class="comment-profile">
              {% thumbnail user.photo "x50" as thumb %}
                <div class="group-logo" style="background: url({{ thumb.url }}) center center/contain no-repeat"></div>
              {% endthumbnail %}
              <span>{{ user.get_full_name }}</span>
            </div>
            {% crispy form %}
          </div>
        {% endif %}
      </div>

      {% if related_resources %}
        <div class="related-resources">
          <h4 class="related-resources__title">
            <svg class="icon">
              <use xlink:href="#network"></use>
            </svg>
            <span>Related resources</span>
          </h4>
          <div class="related-resources__grid">
            {% for resource in related_resources %}
              {% include "includes/resource.html" %}
            {% endfor %}
          </div>
        </div>
      {% endif %}

  </main>


{% endblock main_content %}

{% block extra_scripts %}
  {% render_bundle 'resource' %}
{% endblock extra_scripts %}

