{% load render_bundle from webpack_loader %}
{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
  <head>
    {% if not debug %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121557521-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-121557521-1');
      </script>
      <!-- End Google Analytics -->
    {% endif %}

    {% render_bundle 'main' 'css' %}
    <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if BROWSERSYNC_URL %}
      <script src="{{ BROWSERSYNC_URL }}" async></script>
    {% endif %}
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body class="{% block body_class %}{% endblock body_class %}">
    {% include 'includes/icon_sprite.html' %}

    {% block header_content %}
      {% include 'includes/header.html' %}
      {% include "includes/messages.html" %}
    {% endblock header_content %}

    <main class="main-content">
      {% block main_content %}
      {% endblock main_content %}
    </main>

    {% include 'includes/footer.html' %}

    {% render_bundle 'nav' %}

    {% block extra_scripts %}
    {% endblock extra_scripts %}
  </body>
</html>
