{% load render_bundle from webpack_loader %}
{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
  <head>
    {% render_bundle 'main' 'css' %}
    <title>{% block title %}{{ request.site.name }}{% endblock %}</title>

    {% if BROWSERSYNC_URL %}
      <script src="{{ BROWSERSYNC_URL }}" async></script>
    {% endif %}
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    {% include 'includes/icon_sprite.html' %}

    {% block header_content %}
      {% include 'includes/header.html' %}
    {% endblock header_content %}

    <main class="main-content">
      {% block main_content %}
      {% endblock main_content %}
    </main>

    {% include 'includes/footer.html' %}

    {% block extra_scripts %}
    {% endblock extra_scripts %}
  </body>
</html>
