{% load render_bundle from webpack_loader %}
{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
  <head>
    {% if not debug %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121557521-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-121557521-1');
      </script>
      <!-- End Google Analytics -->
    {% endif %}

    {% render_bundle 'main' 'css' %}
    <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon links/meta -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#000000">
    <link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="{% static 'favicons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    {% if BROWSERSYNC_URL %}
      <script src="{{ BROWSERSYNC_URL }}" async></script>
    {% endif %}
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body class="{% block body_class %}{% endblock body_class %}">
    {% include 'includes/icon_sprite.html' %}

    {% block header_content %}
      {% include 'includes/header.html' %}
      {% include "includes/messages.html" %}
    {% endblock header_content %}

    <main class="main-content">
      {% block main_content %}
      {% endblock main_content %}
    </main>

    {% include 'includes/footer.html' %}

    {% render_bundle 'nav' %}

    {% block extra_scripts %}
    {% endblock extra_scripts %}
  </body>
</html>
