{% extends "base.html" %}

{% load thumbnail %}
{% load staticfiles %}


{% block extra_head %}
  <style>
    body {
      --page-group: red;
    }
  </style>
{% endblock extra_head %}

{% block main_content %}
  <div class="profile-summary">
    <div class="profile-summary__image">
      <div class="profile-image__full" style="background: url({% static 'src/img/profile.jpg' %}) center center/cover no-repeat">
      </div>
      <div class="profile-image__details">
        <h3 class="profile-image__title">Steve Hawkes</h3>
        <div class="profile-summary__group">
          <div class="group-logo" style="background: url(http://static.oxfamamerica.org.s3.amazonaws.com/images/logos/oxfam_logo_vertical_green_rgb.png) center center/contain no-repeat"></div>
          <span>Oxfam</span>
        </div>
      </div>
    </div>
    <div class="profile-summary__details">
      <div class="profile-summary__identity">
        <h1 class="profile-summary__title">Steve Hawkes</h1>
        <div class="profile-summary__group">
          <div class="group-logo" style="background: url(http://static.oxfamamerica.org.s3.amazonaws.com/images/logos/oxfam_logo_vertical_green_rgb.png) center center/contain no-repeat"></div>
          <span>Oxfam</span>
        </div>
      </div>
      <div class="profile-details">
        <div class="icon-list">
          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#phone"></use>
            </svg>
            <div class="contact-detail__value">
              +44 (0) 333 344 7800
            </div>
          </div>
          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#email"></use>
            </svg>
            <div class="contact-detail__value">
              <a href="#">www.dev.ngo</a>
            </div>
          </div>
          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#map"></use>
            </svg>
            <div class="contact-detail__value">
              191 Fazeley Street, Fazeley studios, Digbeth, Birmingham, B5 5SE
            </div>
          </div>
        </div>
        <div class="icon-list">
          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#create"></use>
            </svg>
            <div class="profile-detail__value">
              32 Resources added
            </div>
          </div>
          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#comment"></use>
            </svg>
            <div class="profile-detail__value">
              135 comments posted
            </div>
          </div>
          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#liked"></use>
            </svg>
            <div class="profile-detail__value">
              765 resources liked
            </div>
          </div>
          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#tried"></use>
            </svg>
            <div class="profile-detail__value">
              2 resources tries
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="react-app"></div>
{% endblock main_content %}
