{% extends "base.html" %}

{% load render_bundle from webpack_loader %}
{% load staticfiles %}


{% block header_content %}
  {% include "includes/header.html" %}
{% endblock header_content %}

{% block main_content %}
  <main class="resource-holder">
    <aside class="resource-sidebar" id="resource_sidebar">
      <div class="resource-sidebar__actions">
        <a href="#" class="resource-action__button">
          <svg class="icon">
            <use xlink:href="#liked"></use>
          </svg>
          <span>
            58
            <strong>Liked</strong>
          </span>
        </a>
        <a href="#" class="resource-action__button">
          <svg class="icon">
            <use xlink:href="#tried"></use>
          </svg>
          <span>
            298
            <strong>Tried</strong>
          </span>
        </a>
      </div>
      <div class="resource-meta">
        <div class="icon-list">
          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#directory"></use>
            </svg>
            <div class="icon-list__content">
              <div class="profile-image small" style="background: url({% static 'src/img/profile.jpg' %}) center center/cover no-repeat"></div>
              <p class="profile-name">Richard Peters</p>
              <p class="profile-group">Developer Society</p>
            </div>
          </div>
          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#calendar"></use>
            </svg>
            <div class="icon-list__content">
              <p>6 February 2018 14:27</p>
            </div>
          </div>
          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#tag"></use>
            </svg>
            <div class="icon-list__content">
              <div class="tag-list">
                <a href="#" class="tag">Lorem ipsum</a>
                <a href="#" class="tag">Dolor</a>
                <a href="#" class="tag">Sit amet</a>
                <a href="#" class="tag">Consect</a>
                <a href="#" class="tag">Adipiscing elit</a>
                <a href="#" class="tag">Technology</a>
              </div>
            </div>
          </div>
          <div class="icon-list__row">
            <svg class="icon">
              <use xlink:href="#comment"></use>
            </svg>
            <div class="icon-list__content">
              24 comments
              3 People
            </div>
          </div>
        </div>
      </div>
    </aside>
    <article class="resource-detail">
      <header class="resource-header">
        <div class="resource-header__background" style="background: url(https://picsum.photos/600/300?random) center center/cover no-repeat"></div>
        <div class="resource-title">
          <h1>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, adipisci.</span>
          </h1>
        </div>
        <div class="resource-subtitle">
          <h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab enim accusantium, sit eligendi beatae perferendis maiores quae labo, saepe arc!</span>
          </h3>
        </div>
      </header>
      <div class="resource-content">
        <div class="resource-content__body">
          <h2>Additional notes from session on member-led campaigning by Simone Katter and Sue Jacoby from the Campact Learning Tour 2017:</h2>
          <p>Campacts distributed campaigns called WeAct (also see powerpoint presentation) Founded in 2014 and run by 2 campaigners since 2016 – so rather late and Campact still in the learning process.</p>
          <h4>COMPETITION</h4>
          <p>OpenPetition and change.org are members driven campaigns:</p>
          <p>Campact responds to this : Connection to Campact, very strong member base, reputation, Brand WeAct as Campact, community of pople caring about progressive issues, strong member base – is strongest point.</p>
          <p>If a competitor starts a campaign, WeAct might still run a same/similar campaign, because its about provoking change and not about competition.</p>
          <div class="accordion">
            <div class="accordion-option">
              <input type="checkbox" class="accordion-toggle sr__input" id="accordion_1">
              <label class="accordion-title" for="accordion_1">
                <h3>This is the title for an expanding block of content</h3>
                <svg class="icon open">
                  <use xlink:href="#add"></use>
                </svg>
                <svg class="icon close">
                  <use xlink:href="#minus"</use>
                </svg>
              </label>
              <div class="accordion-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe quaerat aliquid minima possimus molestias ipsa quos voluptatum esse explicabo, labore soluta a, suscipit tenetur eos quam! Nemo itaque hic placeat!
              </div>
            </div>
            <div class="accordion-option">
              <input type="checkbox" class="accordion-toggle sr__input" id="accordion_2">
              <label class="accordion-title" for="accordion_2">
                <h3>Here’s another one</h3>
                <svg class="icon open">
                  <use xlink:href="#add"></use>
                </svg>
                <svg class="icon close">
                  <use xlink:href="#minus"</use>
                </svg>
              </label>
              <div class="accordion-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, sint quibusdam deserunt quisquam, magnam sunt commodi doloribus velit eum quidem blanditiis ex eveniet necessitatibus eius, voluptatibus dolorem repudiandae nam! Quo.
              </div>
            </div>
            <div class="accordion-option">
              <input type="checkbox" class="accordion-toggle sr__input" id="accordion_3">
              <label class="accordion-title" for="accordion_3">
                <h3>This time, this one’s been expanded?</h3>
                <svg class="icon open">
                  <use xlink:href="#add"></use>
                </svg>
                <svg class="icon close">
                  <use xlink:href="#minus"</use>
                </svg>
              </label>
              <div class="accordion-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, fuga? Ut laborum eum neque alias ipsum perspiciatis veniam quod fugit dicta, ipsam, recusandae modi quasi obcaecati laudantium reiciendis totam optio!
              </div>
            </div>
          </div>

        </div>


        {% include "includes/comments.html" %}
      </div>
    </article>
  </main>
  <article></article>
{% endblock main_content %}

{% block extra_scripts %}
  {% render_bundle 'resource' %}
{% endblock extra_scripts %}
