{% extends "base.html" %}

{% load render_bundle from webpack_loader %}


{% block main_content %}
  <div class="featured-resources">
    <div class="resources-grid">
      <div class="resource with-image">
        <header class="resource-image">
          <p class="resource-category">Latest</p>
        </header>
        <div class="resource-summary">This is the title of a resource for you to look at and use</div>
        <footer class="resource-footer">
          <div class="resource-user">
            <div class="resource-user__group">DEV_</div>
            <p class="resource-user__name">Richard</p>
          </div>
          <div class="resource-actions">
            <span class="resource-liked">
              <svg class="icon">
                <use xlink:href="#liked"></use>
              </svg>
              1200
            </span>
            <span class="resource-tried">
              <svg class="icon">
                <use xlink:href="#tried"></use>
              </svg>
              12
            </span>
          </div>
        </footer>
      </div>

      <div class="resource">
        <div class="resource-summary">
          <p class="resource-category">Most liked</p>
          <p>This is the title of a resource for you to look at and use</p>
        </div>
        <footer class="resource-footer">
          <div class="resource-user">
            <div class="resource-user__group">DEV_</div>
            <p class="resource-user__name">Richard</p>
          </div>
          <div class="resource-actions">
            <span class="resource-liked">
              <svg class="icon">
                <use xlink:href="#liked"></use>
              </svg>
              1200
            </span>
            <span class="resource-tried">
              <svg class="icon">
                <use xlink:href="#tried"></use>
              </svg>
              12
            </span>
          </div>
        </footer>
      </div>

      <div class="resource with-image">
        <header class="resource-image">
          <p class="resource-category">Most tried</p>
        </header>
        <div class="resource-summary">
          <p>This is the title of a resource for you to look at and use</p>
        </div>
        <footer class="resource-footer">
          <div class="resource-user">
            <div class="resource-user__group">DEV_</div>
            <p class="resource-user__name">Richard</p>
          </div>
          <div class="resource-actions">
            <span class="resource-liked">
              <svg class="icon">
                <use xlink:href="#liked"></use>
              </svg>
              1200
            </span>
            <span class="resource-tried">
              <svg class="icon">
                <use xlink:href="#tried"></use>
              </svg>
              12
            </span>
          </div>
        </footer>
      </div>

      <div class="resource">
        <div class="resource-summary">
          <p class="resource-category">Most published</p>
          <div class="resource-client">
            <div class="resource-client__group"></div>
            <div class="resource-client__name"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="react-app"></div>
{% endblock main_content %}

{% block extra_scripts %}
  {% render_bundle 'main' 'js' %}
{% endblock extra_scripts %}
