{% extends "base.html" %}

{% block header_content %}
  <header class="page-head">
    <nav class="page-navigation">
      <ul class="main-navigation">
        <li class="main-navigation__item">
          <a href="#">
            Commons library
          </a>
        </li>
        <li class="main-navigation__item">
          <a href="#">
            Explore
          </a>
        </li>
        <li class="main-navigation__item">
          <a href="#">
            Directory
          </a>
        </li>
        <li class="main-navigation__account">
          {% if request.user.is_authenticated %}
            <a href="#">Logout</a>
          {% else %}
            <a href="#">Register</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </header>
{% endblock header_content %}

{% block main_content %}
  <div class="search-bar">
    <form action="." class="search-form">
      <input type="text" placeholder="Type here to search for resource">
      <button type="submit">
        <svg class="icon">
          <use xlink:href="search"></use>
        </svg>
      </button>
    </form>

    <div class="search-filter">
      <div class="search-filter__tags">
        <p class="search-filter__type">Tags</p>
        <div class="tag-list">
          <div class="tag">Technology</div>
          <div class="tag">Teaching</div>
          <div class="tag active">Television</div>
          <div class="tag">Team dynamics</div>
        </div>
      </div>
      <div class="search-filter__groups">
        <p class="search-filter__type">Groups</p>
        <div class="tag-list">
          <div class="tag">Tech for good</div>
        </div>
      </div>
      <div class="search-filter__people">
        <p class="search-filter__type">People</p>
        <div class="tag-list">
          <div class="tag">Steve Hawkes</div>
          <div class="tag">Paul Evans</div>
        </div>
      </div>
    </div>
  </div>

  <div class="featured-resources">
    <div class="resources-grid">
      <div class="resource with-image">
        <header class="resource-image">
          <p class="resource-category">Latest</p>
        </header>
        <div class="resource-summary">This is the title of a resource for you to look at and use</div>
        <footer class="resource-footer">
          <div class="resource-user">
            <div class="resource-user__org">DEV_</div>
            <p class="resource-user__name">Richard</p>
          </div>
          <div class="resource-actions">
            <span class="resource-liked">1200</span>
            <span class="resource-tried">12</span>
          </div>
        </footer>
      </div>

      <div class="resource">
        <div class="resource-summary">
          <p class="resource-category">Most liked</p>
          <p>This is the title of a resource for you to look at and use</p>
        </div>
        <footer class="resource-footer">
          <div class="resource-user">
            <div class="resource-user__org">DEV_</div>
            <p class="resource-user__name">Richard</p>
          </div>
          <div class="resource-actions">
            <span class="resource-liked">1200</span>
            <span class="resource-tried">12</span>
          </div>
        </footer>
      </div>

      <div class="resource with-image">
        <header class="resource-image">
          <p class="resource-category">Most tried</p>
        </header>
        <div class="resource-summary">
          <p>This is the title of a resource for you to look at and use</p>
        </div>
        <footer class="resource-footer">
          <div class="resource-user">
            <div class="resource-user__org">DEV_</div>
            <p class="resource-user__name">Richard</p>
          </div>
          <div class="resource-actions">
            <span class="resource-liked">1200</span>
            <span class="resource-tried">12</span>
          </div>
        </footer>
      </div>

      <div class="resource">
        <div class="resource-summary">
          <p class="resource-category">Most published</p>
          <div class="resource-client">
            <div class="resource-client__org"></div>
            <div class="resource-client__name"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="resources">
    <div class="resources-filter">
      <span>3,201 Resources</span>
      <div class="resource-filter__controls">
        <p>Sort by</p>
      </div>
    </div>
    <div class="resources-grid">
      <div class="resource">
        <div class="resource-summary">This is the title of a resource for you to look at and use</div>
        <footer class="resource-footer">
          <div class="resource-user">
            <div class="resource-user__org">DEV_</div>
            <p class="resource-user__name">Richard</p>
          </div>
          <div class="resource-actions">
            <span class="resource-liked">1200</span>
            <span class="resource-tried">12</span>
          </div>
        </footer>
      </div>

      <div class="resource">
        <div class="resource-summary">This is the title of a resource for you to look at and use</div>
        <footer class="resource-footer">
          <div class="resource-user">
            <div class="resource-user__org">DEV_</div>
            <p class="resource-user__name">Richard</p>
          </div>
          <div class="resource-actions">
            <span class="resource-liked">1200</span>
            <span class="resource-tried">12</span>
          </div>
        </footer>
      </div>

      <div class="resource">
        <div class="resource-summary">This is the title of a resource for you to look at and use</div>
        <footer class="resource-footer">
          <div class="resource-user">
            <div class="resource-user__org">DEV_</div>
            <p class="resource-user__name">Richard</p>
          </div>
          <div class="resource-actions">
            <span class="resource-liked">1200</span>
            <span class="resource-tried">12</span>
          </div>
        </footer>
      </div>

      <div class="resource">
        <div class="resource-summary">This is the title of a resource for you to look at and use</div>
        <footer class="resource-footer">
          <div class="resource-user">
            <div class="resource-user__org">DEV_</div>
            <p class="resource-user__name">Richard</p>
          </div>
          <div class="resource-actions">
            <span class="resource-liked">1200</span>
            <span class="resource-tried">12</span>
          </div>
        </footer>
      </div>

      <div class="resource">
        <div class="resource-summary">This is the title of a resource for you to look at and use</div>
        <footer class="resource-footer">
          <div class="resource-user">
            <div class="resource-user__org">DEV_</div>
            <p class="resource-user__name">Richard</p>
          </div>
          <div class="resource-actions">
            <span class="resource-liked">1200</span>
            <span class="resource-tried">12</span>
          </div>
        </footer>
      </div>

      <div class="resource">
        <div class="resource-summary">This is the title of a resource for you to look at and use</div>
        <footer class="resource-footer">
          <div class="resource-user">
            <div class="resource-user__org">DEV_</div>
            <p class="resource-user__name">Richard</p>
          </div>
          <div class="resource-actions">
            <span class="resource-liked">1200</span>
            <span class="resource-tried">12</span>
          </div>
        </footer>
      </div>

      <div class="resource">
        <div class="resource-summary">This is the title of a resource for you to look at and use</div>
        <footer class="resource-footer">
          <div class="resource-user">
            <div class="resource-user__org">DEV_</div>
            <p class="resource-user__name">Richard</p>
          </div>
          <div class="resource-actions">
            <span class="resource-liked">1200</span>
            <span class="resource-tried">12</span>
          </div>
        </footer>
      </div>

      <div class="resource">
        <div class="resource-summary">This is the title of a resource for you to look at and use</div>
        <footer class="resource-footer">
          <div class="resource-user">
            <div class="resource-user__org">DEV_</div>
            <p class="resource-user__name">Richard</p>
          </div>
          <div class="resource-actions">
            <span class="resource-liked">1200</span>
            <span class="resource-tried">12</span>
          </div>
        </footer>
      </div>
    </div>
  </div>
{% endblock main_content %}
