.home-intro__wrapper {
    width: 100%;
    overflow: hidden;
    background: $color-background;
}

.home-intro__slide {
    @extend %flex-column;

    padding: $width-gap;
    min-height: 22rem;
    width: 100%;
    background: #ffffff;

    &.inverted {
        background: $color-background;
        color: #ffffff;
    }

    .slide-title,
    .resource-category {
        @extend %reset-box;
    }

    .resource-footer {
        padding: $width-gap 0 0 0;
    }

    @media all and (min-width: 1061px) {
        width: 75%;

        &.small {
            width: 50%;
        }
    }
}

.inline-stats {

    .resource-user,
    .resource-liked,
    .resource-tried {
        @extend %flex-row;

        align-items: center;

        .icon,
        .resource-user__group {
            margin: 0 0.25rem 0 0;
        }
    }
}

@keyframes slide {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}
