.page-footer {
    padding: $width-gap $width-gap $width-gap*3;
    background: $color-background;
    box-shadow: 0 100vh 0 100vh $color-background;
    color: #ffffff;

    h4 { margin: 0; }
}

body {

    @media all and (max-width: 1060px) {
        padding: 1.9375rem 0 3rem 0;
    }
}
