.demo-announcement {
    padding: 0.75rem 0;
    background: #000000;
    color: #ffffff;
    text-align: center;
}

.page-footer {
    padding: $width-gap/2 $width-gap $width-gap * 3;
    background: $color-background;
    box-shadow: 0 100vh 0 100vh $color-background;
    color: #ffffff;
    position: relative;

    h4 {
        margin: 0;
    }

    @media all and (min-width: 741px) {
        padding-top: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

.footer-details {
    margin: $width-gap $width-gap * 1.5 0 0;
}

.footer-logos {
    width: 100%;
    max-width: 57.5rem;
    min-width: 18rem;

    h4 {
        padding-bottom: $width-gap/2;
        margin: $width-gap * 3 $width-gap 0 0;
        border-bottom: 3px solid rgba(#ffffff, 0.15);
    }

    @media all and (min-width: 741px) {
        h4 {
            margin-top: $width-gap * 2;
            text-align: right;
        }
    }
}

.footer-logo__grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    + h4 {
        margin-top: $width-gap * 3;
    }

    @media all and (min-width: 741px) {
        justify-content: flex-end;
    }
}

.commons-library-logo {
    width: 17rem;
    height: 6.5rem;
    margin: $width-gap $width-gap $width-gap/2 0;
    flex-shrink: 0;
}

.footer-logo {
    max-height: 1.75rem;
    width: auto;
    height: auto;
    flex-shrink: 0;
    margin: $width-gap $width-gap 0 0;
    filter: brightness(0) invert(1);

    @media all and (min-width: 1061px) {
        max-height: 2.5rem;
    }
}

.messages {
    @extend %reset-box;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $color-accent;
    color: $color-background;
    z-index: 10000;
    list-style: none;
    padding: 1.375rem $width-gap;
    font-family: $base-font-headline;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25rem;
    user-select: none;
    will-change: transform;
    transform: translateY(-100%);
    animation: show-message 5s ease-out;
}

body {
    @media all and (max-width: 1060px) {
        padding: 1.9375rem 0 3rem 0;
    }
}

@keyframes show-message {
    0% {
        transform: translateY(-100%);
    }
    10% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
