body {
    font-family: $base-font;
    color: $color-text;
    line-height: $base-line-height;
}

h1 {
    font-size: 4.875rem;
    line-height: 1;
    font-weight: 400;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 400;
}

h3 {
    font-size: 1.6875rem;
    line-height: 1.2;
    font-weight: 400;
}

h4 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: $base-font-headline;
    margin-bottom: $width-gap;
}

h5 {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-family: $base-font-headline;
}

@media all and (max-width: 540px) {
    h1 { font-size: 3rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.375rem; }
}


p {
    margin: 1rem 0;
}

hr {
    border: none;
    height: 3px;
    background: $color-line;
    width: 100%;
    margin: $width-gap 0;
}
