.directory-group {
  background: $color-line;

  + .directory-group {
    border-top: 3px solid $color-line;
  }

  @media all and (min-width: 921px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
  }

  @media all and (min-width: 1261px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media all and (min-width: 1581px) {
    grid-template-columns: repeat(5, 1fr);
  }
}
.directory-group__profile {
  background: #ffffff;

}
.directory-group__image {


}
.directory-group__name {


}
.directory-group__people {
  margin-top: 3px;

  @media all and (min-width: 681px) {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3px;
  }

  @media all and (min-width: 921px) {
    margin-top: 0;
  }

  @media all and (min-width: 1261px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media all and (min-width: 1581px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

}

.directory-person {
  @extend %flex-row;

  background: #ffffff;


  @media all and (max-width: 680px) {
    + .directory-person {
      margin-top: 3px;
    }
  }
}

.directory-person__image {
  width: 7.1875rem;
  min-height: 100%;
}

.directory-person__name {
  margin: $width-gap 0 0 $width-gap;
  font-size: 1.6875rem;
}

.directory-perons__stats {
  @extend %flex-row;
  @extend %meta;

  margin-top: $width-gap/2;
  padding: 0 $width-gap $width-gap $width-gap;

  .icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-bottom: 0.25rem;
  }

  span {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;

    + span {
      margin-left: $width-gap/2;
    }
  }
}
