.profile-summary {
    @extend %grid-template;

    background: $color-line;
    min-height: 20rem;
    position: relative;

    &:after {
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($color-background, 0.1);
        pointer-events: none;
        user-select: none;
        z-index: 10;
    }

    @media all and (max-width: 800px) {
        display: block;
        min-height: auto;
    }
}

.profile-summary__image {
    @extend %flex-row;

    grid-column: auto / span 1;
    background: #ffffff;
    position: relative;

    .profile-image {
        margin: $width-gap/2 0 0 $width-gap;
    }

    &:after {
        content: '';
        display: block;
        width: 3px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 3px;
        background: rgba($color-background, 0.1);
    }

    @media all and (min-width: 801px) {
        align-items: center;
        justify-content: center;

        .profile-image {
            margin: 0;
        }
    }
}

.profile-summary__group {
    @extend %flex-row;

    align-items: center;
    margin-top: $width-gap/4;
    font-family: $base-font-headline;
    text-transform: uppercase;
    font-weight: 600;

    a {
        color: inherit;
        text-decoration: none;
    }

    .group-logo {
        margin-right: $width-gap/2;
    }
}

.profile-image {
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;

    &.small {
        width: 5rem;
        height: 5rem;
    }

    @media all and (min-width: 801px) {
        width: calc(100% - #{$width-gap * 2});
        height: calc(100% - #{$width-gap * 2});
    }
}

.profile-image__full {
    width: 8.75rem;
    height: 8.75rem;
    flex-shrink: 0;

    @media all and (min-width: 801px) {
        min-width: 100%;
        min-height: 100%;
    }
}

.profile-image__details {
    padding: $width-gap/2 $width-gap;

    @media all and (min-width: 801px) {
        display: none;
    }
}

.profile-summary__details {
    grid-column: 2 / -1;
    padding: 0;
    background: #ffffff;
}

.profile-summary__identity {
    padding: $width-gap $width-gap 0 $width-gap;

    .profile-summary__group span {
        display: inline-block;
        padding: $width-gap/6 $width-gap/4;
        background: $color-text;
        color: #ffffff;
    }

    @media all and (max-width: 800px) {
        display: none;
    }
}

.profile-title {
    padding: $width-gap $width-gap 0 $width-gap;
    margin-bottom: 0;
}

.profile-summary__title,
.profile-image__title {
    margin: 0;
}

.profile-summary__title {
    display: none;

    @media all and (min-width: 801px) {
        display: block;
    }
}

.profile-description {
    padding: 0 $width-gap $width-gap calc(#{$width-gap} + 3px);

    .icon {
        vertical-align: middle;
    }

    @media all and (min-width: 1261px) {
        padding: $width-gap $width-gap $width-gap calc(#{$width-gap} + 3px);
        font-size: 1.6875rem;
    }
}

.profile-stats {
    font-size: 1.25rem;
}

.profile-details {
    @extend %flex-row;

    @media all and (max-width: 1260px) {
        display: block;
    }
}

.profile-summary .icon-list {
    flex-shrink: 0;
    padding: $width-gap;

    + .icon-list {
        padding-top: 0;
    }

    @media all and (min-width: 1261px) {
        width: calc(100% / 3);

        + .icon-list {
            padding-top: $width-gap;
        }
    }

    @media all and (min-width: 1521px) {
        width: 25%;
    }
}

.profile-buttons {
    @extend %flex-row;

    a {
        display: inline-block;
        color: inherit;
        background: $color-line;
        padding: $width-gap/4 $width-gap/2;
        color: $color-text;
        text-decoration: none;
        position: relative;
        flex: 1;
        white-space: nowrap;
    }

    .icon {
        vertical-align: middle;
        margin-right: $width-gap/6;
        width: 2rem;
        height: 2rem;
    }

    a + a:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background: rgba($color-background, 0.05);
    }

    @media all and (min-width: 801px) {
        display: inline-flex;
    }
}

.profile-name,
.profile-group {
    display: inline-block;
    clear: left;
    padding: $width-gap/6 $width-gap/4;
    background: $color-text;
    color: #ffffff;
    margin: 0;

    a {
        text-decoration: none;
    }

    @media all and (min-width: 1061px) {
        margin: 0.25rem 0 0 0;
    }
}

.profile-name {
    @media all and (min-width: 1061px) {
        margin-top: 0;

        .profile-image + & {
            margin-top: 0.25rem;
        }
    }
}

.awaiting-approval h3 {
    padding: $width-gap;
    margin-bottom: 0;
    background: $color-background;
    color: #ffffff;
}

#div_id_privacy_agreement {
    .controls {
        flex-flow: row wrap;

        label {
            flex: 1;
        }
    }
    .help-block {
        width: 100%;
    }
}
