.profile-summary {
    @extend %grid-template;

    background: $color-line;
    min-height: 20rem;

    @media all and (max-width: 800px) {
        display: block;
        min-height: auto;
    }
}

.profile-summary__image {
    @extend %flex-row;

    grid-column: auto / span 1;
    background: #fff;

    @media all and (min-width: 801px) {
        align-items: center;
        justify-content: center;
    }
}

.profile-summary__group {
    @extend %flex-row;

    align-items: center;
    margin-top: $width-gap/4;
    font-family: $base-font-headline;
    text-transform: uppercase;
    font-weight: 600;

    .group-logo {
        margin-right: $width-gap/2;
    }
}

.profile-image {
    width: 8.75rem;
    height: 8.75rem;
    flex-shrink: 0;

    &.small {
        width: 5rem;
        height: 5rem;
    }

    @media all and (min-width: 801px) {
        width: calc(100% - #{$width-gap*2});
        height: calc(100% - #{$width-gap*2});
    }
}

.profile-image__full {
    width: 8.75rem;
    height: 8.75rem;
    flex-shrink: 0;

    @media all and (min-width: 801px) {
        min-width: 100%;
        min-height: 100%;
    }
}

.profile-image__details {
    padding: $width-gap/2 $width-gap;

    @media all and (min-width: 801px) {
    display: none;
    }
}

.profile-summary__details {
    grid-column: 2 / -1;
    padding: 0;
    background: #fff;
}

.profile-summary__identity {
    padding: $width-gap $width-gap 0 $width-gap;

    .profile-summary__group span {
        display: inline-block;
        padding: $width-gap/6 $width-gap/4;
        background: $color-text;
        color: #ffffff;
    }

    @media all and (max-width: 800px) {
        display: none;
    }
}

.profile-title {
    padding: $width-gap $width-gap 0 $width-gap;
    margin-bottom: 0;
}

.profile-summary__title,
.profile-image__title {
    margin: 0;
}

.profile-summary__title {
    display: none;

    @media all and (min-width: 801px) {
        display: block;
    }
}


.profile-description {
    padding: $width-gap $width-gap $width-gap calc(#{$width-gap} + 3px);
    font-size: 1.6875rem;
}

.profile-stats {
    font-size: 1.25rem;
}

.profile-details {
    @extend %flex-row;

    @media all and (max-width: 1260px) {
        display: block;
    }
}

.profile-summary .icon-list {
    flex-shrink: 0;
    padding: $width-gap;


    @media all and (min-width: 1261px) {
        width: calc(100% / 3);
    }

    @media all and (min-width: 1521px) {
        width: 25%;
    }
}

.profile-name,
.profile-group {
    display: inline-block;
    clear: left;
    padding: $width-gap/6 $width-gap/4;
    background: $color-text;
    color: #ffffff;
    margin: 0;

    @media all and (min-width: 1261px) {
        margin: 0.25rem 0 0 0;
    }

}

