{% extends "base.html" %}

{% load mptt_tags %}


{% block main_content %}
  <div class="explore">
    <div class="explore-grid">
      <div class="explore-tags">
        <h4 class="explore-type">Tags</h4>
        <ul class="explore-list">
          {% recursetree tags %}
            <li>
              <a href="{% url 'search' %}?tags={{ node.id }}">{{ node.title }}</a>
              {% if not node.is_leaf_node %}
                <input type="checkbox" class="sr__input explore-list__toggle" id="{{ node.pk }}_toggle">
                <label for="{{ node.pk }}_toggle">
                  <svg class="icon open">
                    <use xlink:href="#add"></use>
                  </svg>
                  <svg class="icon close">
                    <use xlink:href="#minus"></use>
                  </svg>
                </label>
                <ul>
                  {{ children }}
                </ul>
              {% endif %}
            </li>
          {% endrecursetree %}
        </ul>
      </div>
      <div class="explore-people">
        <h4 class="explore-type">People</h4>
        <ul class="explore-list">
          {% for person in people %}
            <li>
              <a href="{% url 'directory:organisation-user' person.pk %}">{{ person.get_full_name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="explore-groups">
        <h4 class="explore-type">Groups</h4>
        <ul class="explore-list">
          {% for group in groups %}
            <li>
              <a href="{% url 'directory:organisation-detail' group.slug %}">{{ group.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock main_content %}
